* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   font-family: "Open Sans", sans-serif;
   color: #444444;
}

/* Scroll bar */
::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: #ddd;
}

::-webkit-scrollbar-thumb {
   background: var(--gen-color);
   border-radius: 10px;
}

/* General Style */
:root {
   --gen-color: #ffc451;
   --gen-color-hover: #ffd584;
}

::selection {
   background: var(--gen-color);
   color: #fff;
}

.container {
   max-width: 1125px;
   margin: 0 auto;
   overflow: hidden;
}

span {
   color: var(--gen-color);
}

a {
   text-decoration: none;
}

a:hover {
   color: var(--gen-color-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Raleway", sans-serif;
}

section {
   padding: 60px 0;
   overflow: hidden;
}

.section_title {
   line-height: 2.5em;
   padding-bottom: 40px;
   text-transform: uppercase;
}

.section_title p {
   font-size: 14px;
   color: #aaa;
   font-weight: 500;
   padding: 0;
   margin: 0 0 5px 0;
   letter-spacing: 2px;
   font-family: "Poppins", sans-serif;
}

.section_title p::after {
   content: "";
   width: 120px;
   height: 1px;
   display: inline-block;
   background: var(--gen-color-hover);
   margin: 4px 10px;
}

.section_title h1 {
   font-size: 2.2rem;
   color: #000;
}

/* Header */
.header_section {
   position: fixed;
   width: 100%;
   background: rgba(0, 0, 0, 0.8);
   height: 11.5vh;
   z-index: 2;
}

.header {
   padding-top: 16px;
   display: flex;
   justify-content: space-between;
}

.logo_header a {
   color: #fff;
   font-size: 2.03rem;
}

.nav_link ul {
   display: flex;
   list-style: none;
}

.nav_link li {
   padding: 15px 18px;
}

.nav_link a {
   font-size: 14px;
   color: #fff;
   font-weight: bold;
   transition: .3s ease-in-out;
   padding: 10px 0;
}

.nav_link a:hover {
   color: var(--gen-color);
}

.nav_link .active {
   color: var(--gen-color);
}

.nav_link a i {
   font-size: 12px;
}

.getStarted_header a {
   color: #fff;
   padding: 8px 25px 9px 25px;
   font-size: 14px;
   display: inline-block;
   white-space: nowrap;
   border: 2px solid var(--gen-color);
   border-radius: 4px;
   transition: .3s;
}

.getStarted_header a:hover {
   background: #ffbb38;
   color: #444444;
}

.drop_down {
   display: none;
   animation: ani .3s;
}

@keyframes ani {
   from {
      top: 100px;
   }

   to {
      top: 50px;
   }
}

.nav_link ul li:hover .drop_down {
   position: absolute;
   display: block;
   color: #000;
   background: #fff;
   margin-top: 12px;
   margin-left: -15px;
   z-index: 1000;
   transition: all 1a ease-in-out;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.drop_down ul {
   display: block;
   margin: 14px;
}

.drop_down ul li {
   width: 180px;
   padding: 10px;
   transition: all .4s ease-in-out;
}

.bi-chevron-right {
   float: right;
}

.drop_down ul li a {
   font-size: 14px;
   font-weight: normal;
   color: #000;
}

.drop_down ul li:hover {
   background: var(--gen-color);
}

.drop_down ul li a:hover {
   color: #000;
}

.deep_drop_down {
   display: none;
   animation: ani2 .3s;
}

@keyframes ani2 {
   from {
      left: 80px;
   }

   to {
      left: 25px;
   }
}

.deep_right:hover .deep_drop_down {
   position: absolute;
   display: block;
   margin-top: -28px;
   margin-left: -215px;
   background: #fff;
   z-index: 1000;
   transition: all 1a ease-in-out;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

/* Showcase */
.showcase {
   position: relative;
   width: 100%;
   height: 100vh;
   background: url('../assets/img/showcase.jpg');
   background-size: cover;
}

.showcase::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.6);
}

.showcase .container {
   position: relative;
   text-align: center;
   padding-top: 140px;
}

.showcase_title h1 {
   color: #fff;
   font-size: 3.5rem;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   line-height: 65px;
}

.showcase_title h2 {
   color: rgba(255, 255, 255, 0.9);
   font-size: 24px;
   margin: 10px 0 0 0;
}

.showcase_boxes {
   display: flex;
   margin-top: 65px;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.showcase_boxes .box {
   padding: 30px 20px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   width: 170px;
   height: 25vh;
   text-align: center;
   transition: .3s ease-in-out;
   margin: 12px;
}

.showcase_boxes .box:hover {
   border: 1px solid var(--gen-color);
}

.showcase_boxes .box i {
   font-size: 38px;
   color: var(--gen-color);
   line-height: 1;
}

.showcase_boxes .box h1 {
   font-weight: 700;
   font-size: 23px;
   margin: 10px 0 0 0;
   padding: 0;
   line-height: 1.3em;
}

.showcase_boxes .box h1 a {
   color: #fff;
   transition: all .3s ease-in-out;
}

.showcase_boxes .box a:hover {
   color: var(--gen-color);
}

/* About */
.about {
   margin-top: 1.5rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, auto));
   grid-gap: 2rem;
}

.about_text {
   line-height: 1.6em;
}

.about_text h1 {
   font-size: 1.7rem;
   color: #444;
   line-height: 1.3em;
}

.about_text .first_p {
   margin-top: .8rem;
   margin-bottom: 1.1rem;
   font-size: 1rem;
   font-style: italic;
   color: #444;
}

.about_text_check {
   margin-bottom: 1.3rem;
}

.about_text_check p {
   line-height: 1.6em;
}

.about_text_check i {
   font-size: 21px;
   color: var(--gen-color);
}

.about_img img {
   width: 100%;
}

.features {
   padding-top: 30px;
}

.features .about_img img {
   min-height: 470px;
   width: 100%;
   object-fit: cover;
}

.about_text .about_text_box {
   padding-left: 15px;
   margin-bottom: 43px;
}

.about_text .about_text_box i {
   float: left;
   font-size: 48px;
   color: var(--gen-color);
}

.about_text .about_text_box h3 {
   font-size: 20px;
   font-weight: 700;
   margin: 5px 0 10px 60px;
}

.about_text .about_text_box p {
   color: #848484;
   margin-left: 60px;
   font-size: 15px;
}

/* Services */
.services {
   margin-top: 1rem;
   overflow: hidden;
}

.services_boxes {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, auto));
   grid-gap: 1.5rem;
}

.services_boxes .box {
   text-align: center;
   padding: 80px 20px;
   border: 1px solid #ebebeb;
   background: #fff;
   transition: all .3s ease-in-out;
}

.services_boxes .box:hover {
   transform: translateY(-10px);
   box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
   border-color: #fff;
}

.services_boxes .box div {
   margin: 0 auto;
   width: 64px;
   height: 64px;
   background: var(--gen-color);
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   transition: .3s;
}

.services_boxes .box div i {
   color: #151515;
   font-size: 28px;
   transition: .3s ease-in-out;
}

.services_boxes .box a {
   color: #000;
   transition: all .3s ease-in-out;
}

.services_boxes .box a:hover {
   color: var(--gen-color);
}

.services_boxes .box p {
   padding-top: 1.5rem;
   font-size: 14px;
   color: #848484;
}

.callToAction {
   background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/cta-bg.jpg");
   background-size: cover;
   background-position: center center;
   text-align: center;
   color: #fff;
}

.callToAction h1 {
   font-size: 2rem;
   font-weight: 700;
}

.callToAction p {
   padding: 1.4rem 0;
   line-height: 1.5em;
}

.callToAction a {
   background: transparent;
   border: 2px solid #fff;
   border-radius: 4px;
   color: #fff;
   font-family: "Raleway", sans-serif;
   font-size: 1rem;
   font-weight: 600;
   padding: 8px 28px;
   transition: all .3s ease-in-out;
   display: inline-block;
}

.callToAction a:hover {
   color: #151515;
   background: var(--gen-color);
   border-color: var(--gen-color);
}

/* Portfolio */
.portfolio_btn {
   text-align: center;
}

.portfolio_btn button {
   background: transparent;
   border: none;
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 8px 15px;
   cursor: pointer;
   border-radius: 3px;
   transition: all .3s ease-in-out;
}

#all_btn {
   background: var(--gen-color);
}

.portfolio_btn button:hover {
   background: var(--gen-color);
}

.portfolio_images {
   margin-top: 2rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, auto));
   grid-gap: 1.5rem;
}

.portfolio_images .box {
   overflow: hidden;
   position: relative;
}

.portfolio_images .box img {
   width: 100%;
   height: 100%;
   transition: all .3s ease-in-out;
}

.portfolio_images .box:hover img {
   transform: scale(1.2);
}

.box_text {
   position: absolute;
   top: 0;
   left: 0;
   background: transparent;
   width: 100%;
   height: 100%;
   transition: all .5s ease-in-out;
}

.box_text:hover {
   background: rgba(0, 0, 0, 0.5);
}

.box_text h1 {
   position: absolute;
   width: 100%;
   bottom: 23%;
   left: 6%;
   color: #fff;
   opacity: 0;
   transition: all .3s ease-in-out;
}

.box_text:hover h1 {
   opacity: 1;
}

.box_text p {
   position: absolute;
   width: 100%;
   bottom: 14%;
   left: 6%;
   color: #ebebeb;
   opacity: 0;
   transition: all .3s ease-in-out;
}

.box_text:hover p {
   opacity: 1;
}